.screen-size-warning{
  width: 100vh;
  width: 100vh;
  margin: 20vh 10px;
  font-size: 22px;
  z-index: 300;
  text-align: center;
}

#level{
  text-align: center;
}

#win{
  display: none;
}

.in-game-message{
  margin-left: -240px;
  padding: 10px;
  position: absolute;
  height: auto;
  width: 200px;
  border: 1px solid black;
  top: 45vh;
  background: white;
  opacity: .5;
  font-size: 20px;
  font-family: 'Open Sans';
}


body{
  margin: 0;
  overflow: hidden;
}

#newlevel-message{
  display: none;
}
#end-game{
  display: none;
}

#game-container{
  width: 100%;
  height: 70vh;
  float: left;
  background-color: #70B042;
}

.header{
  width: 100vw;
  height: 5vh;
  background-color:	#BCDEE7;
}
.dumpsters{
  height: 25vh;
  width: 100vw;
 background-image: url('sidewalk-edited.png');
 background-size: contain;
  display: flex;
  justify-content: space-evenly;
}

.points{
  background-color: white;
  /* border: 2px solid #70B042; */
  opacity: 0.6;
  width: 10vw;
 height: 7vh;
  position: fixed;
  right: 50px;
  display: flex;
  top: 10px;
  justify-content: space-around;
  align-items: center;
}
.specs h3{
  font-size: 24px;
  padding: .5em;
}

#time{
  color: red;
}


h1{
  padding: 0;
  margin: 0;
  color: white;
  font-family: 'Gloria Hallelujah', cursive;
}
.dump{
  width: 20vw;
  height: 100%;
  float: left;

}
.dump-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.img{
  max-width: 100%;
  max-height: 100%;
}

.images{
  width: 50%;
  height: 50%;
  float: left;
}

.test-div{
  width: 100px;
  height: 100px;
  border: 2px solid black;
  float: left;

}

.hover{
  filter: drop-shadow(0 0 5px green);
  z-index: -1;
}





 /* .square{
   position: absolute;
   background-color: white;
   height: 20px;
   width: 20px;
 } */
 .trash-img{
  position: absolute;
  height: 80px;
  width: 20px;
}
.trash-img img{
  height: 100%;
  width: auto;
}

 @media (max-width: 480px) {
  .dumpsters{
   background-repeat: no-repeat;
   height: 15%;
  }

  .dump{
    height: 100%;
  }

  #game-container{
    width: 100%;
    height: 70%;
    float: left;
    background-color: #70B042;
  }
 }